.lightning_studio/
/data/
/data_processed/
/results/
/models/
/logs/

.cursor-server
.idea/this_studio.iml
.vscode-server
.vscode/settings.json
.windsurf-server
/.keras/

# Ignore Python caches
__pycache__/
*.pyc
.ipynb_checkpoints/