.lightning_studio/
/data/
/data_processed/
/results/
/models/
/logs/
/plots/

.cursor-server
.idea/this_studio.iml
.vscode-server
.vscode/settings.json
.windsurf-server
/.keras/

models.tar.gz
plots.tar.gz

# Ignore Python caches
__pycache__/
*.pyc
.ipynb_checkpoints/